h1{color:rgb(135, 54, 0);
	font-style: italic;}
	
h4 {margin-left:600px}  /* Titulo del mapa*/
	
body{
	background:rgb(253, 249, 244);
	margin-bottom:30px;
	margin-left:50px;
	margin-right:50px;
	font-size:120%;
	text-align: justify;}
	
#titulo_mapa{
	color:rgb(135, 54, 0);
    margin-left: 600px;
}  

#titulo_mapalitoral{
	color:rgb(135, 54, 0);
    margin-left: 300px;
} 

#mapid_litoral{ 
	height: 800px;
	width: 45%;
	margin-left: 200px;
	border-style:solid;
    border-color:rgb(135, 54, 0);
}

#mapid { 
	height: 700px;
	width: 40%;
	margin-top:20px;
	margin-left: 350px;
	border-style:solid;
    border-color:rgb(135, 54, 0);
}
	
#img{
	border-style:solid;
    border-color:rgb(135, 54, 0);
}  

#img2{
	border-style:solid;
    border-color:rgb(135, 54, 0);
	margin-right: 50px;
} 

#espacio{
	margin-left:600px;
} 


/* HACER EL DOBLE LADO*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* DOBLE LADO IZQUIERO */
.columna {
	float: right;
	width: 25%;
}

/* DOBLE LADO DERECHO */
.column2a {
	float: left;
	width: 70%;
}
